<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Pack</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/assets/logo-icon.png">

</head>

<body>
    <header class="primary-header">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#"><img src="../static/assets/logo.png" alt="Chicken-Pack"></a>
                <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                    <img class="icon-hamburger" src="../static/assets/images/icon-hamburger.svg" alt="" aria-hidden="true">
                    <img class="icon-close" src="../static/assets/images/icon-close.svg" alt="" aria-hidden="true">
                    <span class="visually-hidden">Menu</span>
                </button>
                <nav class="primary-navigation">
                    <ul aria-label="Primary" role="list" class="nav-list" id="primary-navigation">
                        <li><a href="index.html ">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="recipes.html">Recipes</a></li>
                        <!--
                        <li><a href="#">Company</a></li>
                        -->
                    </ul>
                </nav>
                <a href="review.html">
                    <button type=button class="button | display-sm-none display-md-inline-flex" data-type="inverted">
                        <span><img src= "../static/assets/review.svg" alt="review"></span>
                        Leave a review   
                    </button>
                </a>

            </div>
        </div>
    </header>
    <main>
        <section class="home-hero padding-block-1200 bg-grey-700">
            <div class="container">
                <div class="even-columns">
                    <h2 class="ff-heading fs-secondary-heading fw-bold text-grey-100">Thank you for your feedback!</h2>
                </div>
                <div>

                </div>

            </div>

        </section>
        <footer class="primary-footer | padding-block-700 bg-grey-700 text-primary-200">
            <div class="container">
                <div class="primary-footer-wrapper">
                    <div class="primary-footer-logo-social">
                        <a href="#"><img src="../static/assets/logo.png" alt="Chicken Pack"></a>
                        <ul class="social-list" role="list" aria-label="Social links">
                            <li>
                                <a aria-label="facebook" href="#">
                                    <svg class="social-icon">
                                        <use xlink:href="../static/assets/images/social-icons.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a aria-label="twitter" href="#"><svg class="social-icon">
                                    <use xlink:href="../static/assets/images/social-icons.svg#icon-twitter"></use>
                                </svg></a>
                            </li>
                            <li>
                                <a aria-label="instragram" href="#"><svg class="social-icon">
                                    <use xlink:href="../static/assets/images/social-icons.svg#icon-instagram"></use>
                                </svg></a>
                            </li>
                        </ul>
                    </div>
                    <div class="primary-footer-nav">
                        <nav class="footer-nav">
                            <ul aria-label="Footer" role="list">
                                <li><a href="# ">Company</a></li>
                                <li><a href="# ">Pricing</a></li>
                                <li><a href="# ">Products</a></li>
                                <li><a href="# ">Privacy Policy</a></li>
                                <li><a href="# ">Delivery Information</a></li>
                                <li><a href="# ">Terms & Conditions</a></li>
                                <li><a href="# ">Community</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="primary-footer-form">
                        <form action="">
                            <input type="email" placeholder="E-mail">
                            <button type=button class="button">
                                <span><img src= "../static/assets/go.svg" alt=""></span>
                                Go                           
                            </button>
                        </form>
                        <p>Copyright 2022. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script type="module" src="../static/main.js"></script>



</body>